.blog {
  background-color: rgb(25, 25, 25);
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-link {
  margin-top: 40px;
  margin-bottom: 30px;
}

.blog-link a {
  color: white;
  text-decoration: none;
}

.blog-link a:hover {
  font-weight: bold;
}
