.blog-post {
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.blog-post h1 {
  margin-bottom: 10px;
}

.full-blog-date {
  font-style: italic;
  margin-bottom: 25px;
}

.blog-post-feature-image {
  max-height: 500px;
  object-fit: cover;
}

.blog-back-link {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-back-link a {
  color: black;
  text-decoration: none;
}

.blog-back-link a:hover {
  font-weight: bold;
}

.blog-post-content * {
  font-family: Roboto, sans-serif !important;
}

@media (max-width: 767px) {
  .blog-post-content img {
    max-width: 250px;
    height: auto;
  }
}