.card-container {
  width: 200px;
  height: 200px;
  margin: 30px;
  transition: all .2s;
}

@media (min-width : 768px) {
  .card-container:hover {
    transform: translate(0%, -5%);
    cursor: pointer;
  }
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(100, 100, 100, 0.7);
  border: solid black 1px;
  position: relative;
  width: 200px;
  height: 200px;
}

.card-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 198px;
  object-fit: cover;
  object-position: top;
}

.card-title {
  background-color: rgba(50, 50, 50, 0.9);
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid black 1px;
  position: absolute;
  bottom: 0;
  width: 200px;
}

.card-back {
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.7);
  border: solid black 1px;
  height: 200px;
  display: flex;
  align-items: center;
}

@media (max-width : 767px) {
  .card-container {
    margin: 10px;
    width: 130px;
    height: 130px;
  }

  .card {
    width: 130px;
    height: 130px;
  }

  .card-photo {
    width: 130px;
    height: 128px;
  }

  .card-title {
    width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .card-back {
    padding: 10px;
    height: 130px;
  }
}
