.card-container {
  width: 200px;
  height: 249px;
  margin: 30px;
  transition: all .2s;
}

@media (min-width : 768px) {
  .card-container:hover {
    transform: translate(0%, -5%);
    cursor: pointer;
  }
}

.card {
  background-color: rgba(100, 100, 100, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
}

.card-back {
  background-color: rgba(50, 50, 50, 0.7);
  height: 247px;
  padding: 20px;
}

.athlete-dates {
  margin-top: 20px;
}

@media (max-width : 767px) {
  .card-container {
    width: 130px;
    height: 160px;
    margin: 10px;
  }

  .card-back {
    height: 160px;
    padding: 2px;
  }

  .athlete-dates {
    margin-top: 8px;
  }
}
