.footer {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.copyright {
  margin-top: 10px;
  font-size: 16px;
}

.copyright a {
  color: white;
}

@media (max-width : 767px) {
  .scott-hamilton-logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .copyright {
    margin-top: 20px;
  }
}
