.golf {
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)
  ), url("../background-images/golf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-end !important;
  background-attachment: fixed;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 20px;
}

.pga-line-break {
  height: 1px;
  background-color: white;
  width: 750px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.pga-subheader {
  font-style: italic;
}

@media (max-width : 767px) {
  .pga-line-break {
    width: 300px;
  }
}
