.golf {
  /* background-color: rgb(37, 37, 37); */
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)
  ), url("../background-images/golf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  background-attachment: fixed;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 50px;
}
