.home {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url("../background-images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: initial;
  padding-top: 130px;
  /* Uncomment for simple parallax: */
  /* background-attachment: fixed; */
}

.home-header {
  font-size: 80px;
}

.mission-statement {
  font-size: 24px;
  margin-top: 50px;
  max-width: 450px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width : 767px) {
  .home-header {
    font-size: 32px;
  }

  .mission-statement {
    font-size: 18px;
  }
}
