.player-card-container {
  width: 200px;
  height: 249px;
}

.player-card {
  background-color: rgba(100, 100, 100, 0.7);
  border: solid white 1px;
}

.player-card-back {
  background-color: rgba(50, 50, 50, 0.7);
  border: solid white 1px;
  height: 247px;
}

@media (max-width : 767px) {
  .player-card-container {
    width: 130px;
    height: 160px;
  }

  .player-card-back {
    height: 160px;
  }
}
