.podcast {
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("http://d2vff3mk7ylu21.cloudfront.net/podcast5-flipped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: flex-start !important;
  padding-right: 70px !important;
}

.podcast-episodes {
  width: 100%;
  max-width: 800px;
}

.podcast-episode {
  width: 100%;
  max-width: 850px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.podcast-link {
  margin-top: 20px;
  margin-bottom: 30px;
}

.podcast-link a {
  color: white;
  text-decoration: none;
}

.podcast-link a:hover {
  font-weight: bold;
}

@media (max-width : 767px) {
  .podcast {
    padding: 50px !important;
  }
}
