.resume-card-container {
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.left-resume-card-container {
  margin-right: 0px;
}

.right-resume-card-container {
  margin-left: 50px;
}

.resume-card {
  background-color: white;
  border: solid white 1px;
  padding: 20px;
  height: 218px;
}

.resume-card img {
  height: 170px;
  width: auto;
  max-width: 170px;
}

.resume-card-back {
  background-color: white;
  border: solid white 1px;
  height: 218px;
  color: black;
  padding: 15px;
}

.resume-card-back h2 {
  font-size: 22px;
  margin-top: 5px;
}

.resume-card-back p {
  font-size: 16px;
}

@media (max-width : 767px) {
  .resume-card-container {
    width: 135px;
    height: 135px;
  }

  .right-resume-card-container {
    margin-left: 0px;
  }

  .resume-card {
    height: 133px;
  }

  .resume-card img {
    height: 90px;
    width: auto;
    max-width: 90px;
  }

  .resume-card-back {
    height: 133px;
    padding: 5px;
    overflow: auto;
  }

  .resume-card-back h2 {
    font-size: 16px;
    font-weight: 300;
  }

  .resume-card-back p {
    font-size: 12px;
    line-height: 1.0;
  }

  .left-resume-card-container {
    margin-left: 0px;
  }
}
