.social {
  background-color: rgb(49, 49, 49);
}

.instagram-photos-container {
  overflow: scroll;
  width: 1000px;
  max-width: 100%;
  height: 350px;
}

.instagram-photos {
  width: 4080px;
}

.instagram-photo {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid white 1px;
  margin: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 28px;
}

.likes {
  float: left;
  margin-left: 8px;
}

.likes p {
  display: inline-block;
  font-weight: 700;
  margin-left: 5px;
}

.comments {
  float: right;
  margin-right: 8px;
}

.comments p {
  display: inline-block;
  font-weight: 700;
  margin-right: 5px;
}

.instagram-photo:hover {
  color: white;
  text-decoration: none;
}

@media (max-width : 767px) {
  .instagram-photos-container {
    width: 750px;
    max-width: 100%;
    height: 250px;
  }

  .instagram-photos {
    width: 2880px;
  }

  .instagram-photo {
    width: 200px;
    height: 200px;
  }

  .instagram-photo p {
    font-size: 18px;
  }
}
