.social {
  background-color: rgb(49, 49, 49);
}

.social-feed {
  width: 100%;
}

.instagram-photos-container {
  overflow: scroll;
  width: 80%;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
}

.instagram-photos {
  width: 2380px;
}

@media (max-width : 767px) {
  .instagram-photos-container {
    height: 260px;
  }

  .instagram-photos {
    width: 1680px;
  }
}
