.navbar {
  background: transparent;
  border: none;
  color: white !important;
  font-size: 20px;
  font-weight: 300;
  z-index: 0;
}

.navbar .container {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar a {
  color: white !important;
}

.navbar li:active {
  background-color: transparent;
}

.navbar li:hover {
  transform: translate(0%, -10%);
  transition: all .2s;
}

.navbar li.active a {
  background-color: transparent !important;
  font-weight: bold;
}

.navbar-toggle, .collapsed {
  float: left;
  margin-left: 10px;
}

.navbar-collapse {
  text-align: left;
  border: none;
}

.social-icons {
  position: fixed;
  top: 10px;
  right: 25px;
}

@media (max-width : 767px) {
  .social-icons {
    right: 10px;
  }
}

.social-icons a {
  margin-left: 14px;
}
